body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.user_card {
	margin-top: auto;
	margin-bottom: auto;
	background: #ebedee;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 15%;
}

.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -10%;
	border-radius: 50%;
	padding: 10px;
	text-align: center;
}

.brand_logo {
	height: 100px;
	width: 100px;
}

.form_container {
	margin-top: 25%;
}

.login_btn {
	width: 100%;
	background: #c0392b !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.login_container {
	padding: 0 5rem;
}

.input-group-text {
	background: #17a2b8 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_email, .input_user, .input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~.custom-control-label::before
	{
	background-color: #17a2b8 !important;
}