<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Game</title>
    
    <link href="{% static 	'css/animejs.css' %}" rel="stylesheet">
  	<script src="{% static 	'js/anime.min.js' %}"></script>
    
    <link href="{% static 	'css/trial.css' %}" rel="stylesheet">
  	<script src="{% static 	'js/trial.js' %}"></script>
</head>

<body>

<div id="anime-demo">
  
<svg width="200" height="150" >
<!-- <path d="M380,10q-152,103,-2,257q-149,137,41,154q204,9,61,-149q192,-105,36,-259q-82,275,-136,-2" stroke="black" stroke-width= "1px" fill="none"/> -->
<path 	id="racecourt" d="M 600.1 776.9 H 373 C -125.4 774.9 3.2 145.7 368.5 145.7 H 1353.9 C 1954.1 147.2 1987 770.5 1374.2 777.1 H 600.7" 
		style="fill: none; stroke: #000; stroke-width: 1"/>
</svg> 


  <img class="square blue" src="http://medya-cdn.tjk.org/formaftp/3815.jpg" width="120" height="120">
  <div class="square red"></div>
</div>

<!-- <div class="color-codes">
  <p><span class="box blue"></span> : Linear</p>
  <p><span class="box red"></span> : easeInCubic</p>
  <p><span class="box orange"></span> : easeOutCubic</p>
  <p><span class="box green"></span> : easeInOutCubic</p>
</div> -->

<script>
var path = anime.path('path');

//var easings = ['linear', 'easeInCubic', 'easeOutCubic', 'easeInOutCubic'];

var motionPath = anime({
  targets: '.blue',
  translateX: path('x'),
  translateY: path('y'),
  rotate: path('angle'),
  easing: 'easeInCubic',
  duration: 10050,
  loop: false
});


var motionPath = anime({
	  targets: '.red',
	  translateX: path('x'),
	  translateY: path('y'),
	  rotate: path('angle'),
	  easing: 'linear',
	  duration: 100000,
	  loop: false
	});
</script>

</body>
</html>