<!DOCTYPE html>
<html>
<head>
    <title>Race Simulator</title>
    {% load static %}

    <link href="{% static 'img/favicon.png' %}" 			type="image/png"	rel="icon">
    <link href="{% static 'css/bootstrap.min.css' %}" 		type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/bootstrap-toggle.min.css' %}"type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" 		type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.min.css' %}"	type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/tablesorterstyle.css'%}"     type="text/css"     rel="stylesheet">
    <link href="{% static 'css/racedetails.css'%}"     		type="text/css"     rel="stylesheet">
	

    <script src="{% static 'js/jquery-3.5.1.min.js' %}" 	type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/popper.js' %}" 				type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" 		type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap-toggle.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/datatables.min.js' %}" 		type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/fontawesome-all.min.js' %}"	type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/racesimulator-mobile.js' %}"	type="text/javascript" charset="utf-8" ></script>
    <script src="{% static 'js/tablesorter.js' %}"         	type="text/javascript" charset="utf-8"></script>

</head>

<body style="background:linear-gradient(to left, #870000, #bbb500);">

	<div class="container" style="max-width: 95%;">

	<br><br>
    <div class="page-header" style="text-align: center;">
        <h1><span class="badge badge-pill badge-info">{{ weather.location }}</span></h1>
		<h2><u>MOBILE</u></h2>
    </div>

	{% for singlerace in racedetails %}
	<div id="accordion-{{ singlerace.key }}">
  	<div class="card" style="border-bottom-left-radius:40px; border-bottom-right-radius: 40px; margin-top:2%; font-size: x-large;">
    <div class="card-header text-white bg-{{ singlerace.courtbg }} float-left" style="font-size: x-large; border-bottom-left-radius:40px; border-bottom-right-radius: 40px;" id="{{ singlerace.key }}-header">
        <button class="btn text-white bg-{{ singlerace.courtbg }}" data-toggle="collapse" data-target="#collapse{{ singlerace.key }}" aria-expanded="true" aria-controls="collapse{{ singlerace.key }}">
          <span class="label label-{{ singlerace.courtbg }} float-left" style="text-decoration: underline; font-size: x-large;"><b>{{ singlerace.racenumber }}. KOŞU : {{ singlerace.time }}</b></span><br>
          <span class="label label-{{ singlerace.courtbg }} float-left" style="font-size: x-large;"><b>{{ singlerace.summary }}</b></span><br>
          <span class="label label-{{ singlerace.courtbg }} float-left" style="font-size: x-large;"><b>{{ singlerace.racename }}</b></span> 
        </button>
        <button style="display:none; margin-right: 1%;" type="button" class="btn btn-info showracelist float-right" ><span class="fa-solid fa-list"></span><b> Koşu Bilgileri</b></button>
        <button style="display:none; margin-right: 1%;" type="button" class="btn btn-danger simulation float-right"><span class="fa-solid fa-flag-checkered fa-shake"></span><b> Simulasyon</b></button>
       <span class="label text-{{ singlerace.courtbg }} label-{{ singlerace.courtbg }} float-right courtcode">{{ singlerace.courtcode }}</span>
        <div><span raceid="{{ singlerace.key }}" racedate="{{ singlerace.date }}" cityinfo="{{ weather.cityinfo }}" citycode="{{ weather.citycode }}"  class="label text-white label-{{ singlerace.courtbg }} racerule"></span></div>
        
     </div>
     
     
	
	{% if nextracetime > singlerace.time and singlerace.time > currenttime %}
    	<div id="collapse{{ singlerace.key }}" class="collapse show" aria-labelledby="{{ singlerace.key }}-header" data-parent="#accordion-{{ singlerace.key }}">
    {% else %}
    	<div id="collapse{{ singlerace.key }}" class="collapse" aria-labelledby="{{ singlerace.key }}-header" data-parent="#accordion-{{ singlerace.key }}">
    {% endif %}
      <div class="card-body table-responsive" style="font-size: x-large;">
      
    	<table id="horselist-{{ singlerace.key }}" class="table racetable">
    	<thead class=thead-light>
    	<tr>
    		<th colspan="3" style="text-align:center;">  
    		<button type="button" class="btn btn-info velocities" style="font-size:larger;">
    			<span class="fa-solid fa-calculator fa-beat-fade"></span><b> Hesapla</b>
    		</button>
        	</th>
        </tr>
    	</thead>
    	
		<tbody>
		{% for horse in allhorses %}
     	{% if horse.racecode  == singlerace.key %}
     	<tr>
     		<td colspan="2" style="vertical-align:middle;">
				<button type="button" class="btn btn-sm btn-outline-info" style="cursor:text; font-size: larger;"><b>{{ horse.number }}</b></button>
				{% if horse.disabled == True %}
       			<button type="button" class="btn btn-sm btn-outline-danger" style="cursor:text; font-size: larger;">[K] <s>{{ horse.name }}</s></button>
       			{% endif %}
       			{% if horse.disabled == False %}
       				<span style="font-size: larger;"><b>{{ horse.name }}</b>
       			{% endif %}
       				<sup class="text-info"><b>{{ horse.tool }}</b></sup>
       			{% if horse.stablemate != False %}
       				<img src="https://medya-cdn.tjk.org/imageftp/Img/e{{ horse.stablemate }}.gif"></span>
       			{% endif %}
     		</td>
     		
     		<td style="text-align:end; vertical-align:middle;">
				<span><b>{{ horse.jockey }}</b></span>
				{% if horse.apprantice == True %}
				<sup class="text-info"><b>AP</b></sup>
				{% endif %}
				<br>
				<span>{{ horse.lastsix }}</span>
			</td>
     	</tr>
     	
     	
		<tr>
			<td style="border:0px; width:5%; vertical-align:middle;"> 
				<img src="{{ horse.jerseyimg }}" width="80" height="80" jerseybg="{{ horse.jerseybg }}" style="border-radius: 50%; border: 2px solid #17a2b8;"> 
			</td>
			
			<td style="border:0px; font-size:larger;">
				<span class="badge badge-pill">{{ horse.age }}</span>
				<span>{{ horse.weight }}kg</span>
      			{% if horse.weightex != 0 %}
      				<sup class="text-info"><b>+{{ horse.weightex }}</b></sup> 
      			{% endif %}
      			<br>
      			<span class="badge">HP:  </span><span>{{ horse.handycap }}</span>
      			<span class="badge">KGS: </span><span>{{ horse.kgs }}</span>
			</td>
			
			<td style="text-align:end; border:0px; font-size:larger;">
				<span class="badge">{% if horse.agf1 %} AGF1: </span><span class="text-info"><b>%{{ horse.agf1 }}</b> {% endif %}</span> <br>
				<span class="badge">{% if horse.agf2 %} AGF2: </span><span class="text-info"><b>%{{ horse.agf2 }}</b> {% endif %}</span>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" style="border:0px; font-size:larger;" class="parent" horsecode="{{ horse.code }}">
				<span class="badge badge-pill">Baba: {{ horse.fathername }}</span> <br>
				<span class="badge badge-pill">Anne: {{ horse.mothername }}</span> <br>
				
			</td>
			<td style="text-align:end; border:0px;">
				<span>{{ horse.owner }}</span> <br>
       			<span class="badge">Ant: </span><span>{{ horse.trainer }}</span> 
			</td>
		</tr>
		
		
		
		<tr class="calculations" style="display:none;">
			<td colspan="2" style="font-size:larger; border:0px;">
				<span class="badge">Yıllık Kazanç: <b class="text-info yearprize">112.456 ₺</b></span>
			</td>
			<td style="text-align:end; font-size:larger; border:0px;">
				<span class="badge" >Galop400: <b class="text-info gallop">25.50</b></span>
			<td>
		</tr>
		
		<tr class="finaldegree" style="display:none;">
			<td colspan="3" style="text-align:center; border:0px; font-size:xxx-large;">
				<span class="badge badge-pill badge-info"><b>1.23.45</b></span>
			</td>
		</tr>
		
		
		<tr class="loadingrow" style="display:none;">
			<td colspan="3" style="text-align:center; border:0px;">
				<div class="spinner-grow text-info"></div>
				<div class="spinner-grow text-info"></div>
				<div class="spinner-grow text-info"></div>
				<div class="spinner-grow text-info"></div>
			</td>
		</tr>
		
		{% endif %}
      	{% endfor %}
		</tbody>
		<tfoot>
			<tr>
    			<td colspan="3" class="text-info" style="text-align:center;"><b>{{ singlerace.betinfo }}</b></td>
    		</tr>
		</tfoot>
		</table>
      
      </div>
    </div>
  	</div>
	</div> <!--  end of accordion -->
	{% endfor %}


   </div> <!-- end of container -->
   <br><br><br>
      
   <!-- Modal -->
<div class="modal fade" id="statsModalCenter" tabindex="-1" role="dialog" aria-labelledby="statsModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header text-center bg-info" style="border-bottom-left-radius:40px; border-bottom-right-radius: 40px;">
        <h5 class="modal-title" id="statsModalLongTitle">İstatistikler</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="statsmodalbody" class="modal-body">
        
        <div class="form-group row">
        
        	<div class="col" style="margin-top:0.5%;">
				<table id="rivalstatsinfo" class="table table-bordered table-striped" style="font-size:small; display:none;">
				<thead class="bg-info text-black">
				<tr>
					<th style="text-align:center">Rakipleri</th>
					<th style="text-align:center">Geçtiği</th>
					<th style="text-align:center">Geçildiği</th>
					<th style="text-align:center">Toplam</th>
				</tr>
				</thead>
				<tbody>

				</tbody>
				</table>
			
    		</div>
        
        
            <div id="statsinfodiv" class="col">
            	<div id="loadingdiv" style="text-align: center;">
					<button class="btn btn-white text-info" type="button" disabled>
  					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><b> Yükleniyor . . .</b></button>
            	</div>
			</div>
			
    		
    		<div id="siblinginfodiv" class="col">
			
    		</div>
  		</div>


        
      </div>
      <div class="modal-footer">
        <button id="statsclosebtn" type="button" class="btn btn-outline-info" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>   
  
  <input type="hidden" id="citynameinput" value="{{ cityname }}">
  
  </div>
  
  </body> 

</html>
