<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Yarış Simulasyonu</title>
    {% load static %}

    <link href="{% static 'img/favicon.png' %}" 			type="image/png"	rel="icon">
    <link href="{% static 'css/roundslider.min.css' %}"		type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" 		type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/bootstrap-toggle.min.css' %}"type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" 		type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.min.css' %}"	type="text/css" 	rel="stylesheet">
    <link href="{% static 'css/tablesorterstyle.css'%}"     type="text/css"     rel="stylesheet">
    <link href="{% static 'css/racedetails.css'%}"     		type="text/css"     rel="stylesheet">
    <link href="{% static 'css/boxicons.min.css'%}" 		type="text/css" 	rel="stylesheet"/>
	

    <script src="{% static 'js/jquery-3.5.1.min.js' %}" 	type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/popper.js' %}" 				type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" 		type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap-toggle.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/datatables.min.js' %}" 		type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/fontawesome-all.min.js' %}"	type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/racesimulator-mobile.js' %}"	type="text/javascript" charset="utf-8" ></script>
    <script src="{% static 'js/tablesorter.js' %}"         	type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/roundslider.min.js' %}"		type="text/javascript" charset="utf-8"></script>

</head>

<body id="body-pd" style="background-image:url('/static/img/nal.jpg');">

	
	<header class="header" style="background-color:transparent; margin-top:1rem;" id="header">
        <div>  </div>
        <div class="page-header" style="text-align: center;">
        	<h1><span class="badge badge-pill badge-info">{{ weather.location }}</span></h1>
    	</div> 
        <div class="header_img"> <img src="{% static 'img/favicon.png' %}" alt=""> </div>
    </header>
    
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
             	<div class="nav_logo header_toggle">  <i class='bx bx-layer bx-flashing' style="color:white; font-size:4.5rem;" id="header-toggle"> </i></div> 
                <div class="nav_list">	
                	<a href="#" class="nav_link active  badge badge-pill badge-info" style="font-size:x-large;"> <i class='bx bx-grid-alt nav_icon' 		style="font-size:xx-large;"></i> <span class="nav_name">Program</span></a>
                	<a href="#" class="nav_link badge badge-pill badge-info" style="font-size:x-large;"> <i class='bx bx-bookmark nav_icon' 				style="font-size:xx-large;"></i> <span class="nav_name">Forum</span></a> 
                	<a href="#" class="nav_link badge badge-pill badge-info" style="font-size:x-large;"> <i class='bx bx-user nav_icon' 					style="font-size:xx-large;"></i> <span class="nav_name">Tahminler</span></a> 
                	<a href="#" class="nav_link badge badge-pill badge-info" style="font-size:x-large;"> <i class='bx bx-message-square-detail nav_icon' 	style="font-size:xx-large;"></i> <span class="nav_name">Mesajlar</span></a> 
                	<a href="#" class="nav_link badge badge-pill badge-info" style="font-size:x-large;"> <i class='bx bx-folder nav_icon' 					style="font-size:xx-large;"></i> <span class="nav_name">Kupon Yarat</span></a> 
                	<a href="#" class="nav_link badge badge-pill badge-info" style="font-size:x-large;"> <i class='bx bx-bar-chart-alt-2 nav_icon' 			style="font-size:xx-large;"></i> <span class="nav_name">İstatistik</span></a>
                	<a href="#" class="nav_link badge badge-pill badge-info" style="font-size:x-large;"> <i class='bx bx-log-out nav_icon' 					style="font-size:xx-large;"></i> <span class="nav_name">Güvenli Çıkış</span></a> 
                </div>
            </div> 
            
        </nav>
    </div>
    <!--Container Main start -->
    <div class="height-100" style="margin-top:6rem;">
	
	<div class="container" style="max-width:100%;">

	{% for singlerace in racedetails %}
	<div id="accordion-{{ singlerace.key }}">
  	<div class="card" style="border-bottom-left-radius:40px; border-bottom-right-radius: 40px; margin-top:2%; font-size: x-large;">
    <div class="card-header text-white bg-{{ singlerace.courtbg }}" data-toggle="collapse" data-target="#collapse{{ singlerace.key }}" aria-expanded="true" aria-controls="collapse{{ singlerace.key }}" style="font-size: x-large; border-bottom-left-radius:40px; border-bottom-right-radius: 40px;" id="{{ singlerace.key }}-header">
        
        <div class="row">
      		<div class="col-sm-8">
      		<button class="btn text-white bg-{{ singlerace.courtbg }}" style="text-align:left; font-weight:bold; font-size:x-large;" data-toggle="collapse" data-target="#collapse{{ singlerace.key }}" aria-expanded="true" aria-controls="collapse{{ singlerace.key }}">
          		<span class="label label-{{ singlerace.courtbg }}" style="text-decoration:underline;">{{ singlerace.racenumber }}. KOŞU : {{ singlerace.time }}</span><br>
          		<span class="label label-{{ singlerace.courtbg }}">{{ singlerace.summary }}</span><br>
          		<span class="label label-{{ singlerace.courtbg }}">{{ singlerace.racename }}</span>
          	</button>
      		</div>
      		
      		<div class="col-sm-4">
      			<span class="float-right text-white bg-{{ singlerace.courtbg }}">
        		<span style="font-size: x-large; 	font-weight:bold; 	float:right"> {{ singlerace.prize1 }} <span class="fa-solid fa-turkish-lira-sign"></span></span>					<br>
        		<span style="font-size: large;  	font-weight:bold;	float:right; margin-top:-5%"> {{ singlerace.prize2 }} <span class="fa-solid fa-turkish-lira-sign"></span></span>	<br>
        		<span style="font-size: large;		font-weight:bold;	float:right; margin-top:-15%"> {{ singlerace.prize3 }} <span class="fa-solid fa-turkish-lira-sign"></span></span>	<br>
<!--         		<span style="font-size: large;		font-weight:bold;	float:right; margin-top:-25%"> {{ singlerace.prize4 }} <span class="fa-solid fa-turkish-lira-sign"></span></span>	<br> -->
<!--         		<span style="font-size: large;		font-weight:bold;	float:right; margin-top:-35%"> {{ singlerace.prize5 }} <span class="fa-solid fa-turkish-lira-sign"></span></span>	 -->
        	</span> 
      		</div>
    	</div>
    	
    	<div class="row">
    		<div class="col-sm-12" style="margin-left:1rem; padding-right:2rem;">
    			<span class="label text-white label-{{ singlerace.courtbg }} racerule" raceid="{{ singlerace.key }}" racedate="{{ singlerace.date }}" cityinfo="{{ weather.cityinfo }}" citycode="{{ weather.citycode }}"></span>
    		</div>
    	</div>
        
     </div>
     
     
	
	{% if nextracetime > singlerace.time and singlerace.time > currenttime %}
    	<div id="collapse{{ singlerace.key }}" class="collapse show" aria-labelledby="{{ singlerace.key }}-header" data-parent="#accordion-{{ singlerace.key }}">
    {% else %}
    	<div id="collapse{{ singlerace.key }}" class="collapse" aria-labelledby="{{ singlerace.key }}-header" data-parent="#accordion-{{ singlerace.key }}">
    {% endif %}
      <div class="card-body table-responsive" style="font-size: large;">
      
    	<table id="horselist-{{ singlerace.key }}" class="table racetable">
    	
    	<!-- 
    	<thead class=thead-light>
    	 
    	<tr>
    		<th colspan="3" style="text-align:center;">  
    		 <button type="button" class="btn btn-info settings" style="font-size:xx-large;">
    			<span class="fa-solid fa-gear"></span><b></b>
    		</button> 
    		<button type="button" class="btn btn-info velocities" style="font-size:xx-large;">
    			<span class="fa-solid fa-calculator fa-beat-fade"></span><b> Hesapla</b>
    		</button> -->
    		<!-- <button type="button" class="btn btn-info dropdown-toggle" id="sort-{{ singlerace.key }}" data-toggle="dropdown" aria-haspopup="true" aria-expabnded="false" style="font-size:xx-large;">
    			<span class="fa-solid fa-sort"></span><b> Sırala</b>
    		</button> 
    		<div class="dropdown-menu bg-info" aria-labelledby="sort-{{ singlerace.key }}" style="font-size:xx-large; text-align:left;">
    			<button class="dropdown-item text-white sortfornumber" 		type="button"><span class="fa fa-check sorthide"></span> <b>Numara</b></button>
    			<button class="dropdown-item text-white sortforagf" 		type="button"><span class="fa fa-check sorthide"></span> <b>AGF</b></button>
    			<button class="dropdown-item text-white sortforhp" 			type="button"><span class="fa fa-check sorthide"></span> <b>Handikap Puanı</b></button>
    			<button class="dropdown-item text-white sortforkgs" 		type="button"><span class="fa fa-check sorthide"></span> <b>Koşmadığı Gün</b></button>
    			<button class="dropdown-item text-white sortforgallop" 		type="button"><span class="fa fa-check sorthide"></span> <b>Galop</b></button>
    			<button class="dropdown-item text-white sortforyearprize" 	type="button"><span class="fa fa-check sorthide"></span> <b>Yıllık Kazanç</b></button>
    			<button class="dropdown-item text-white sortfordegree" 		type="button"><span class="fa fa-check sorthide"></span> <b>Derece</b></button>
  			</div>
  			
        	</th>
        </tr>
        
    	</thead>
    	-->
    	
		<tbody>
		{% for horse in allhorses %}
     	{% if horse.racecode  == singlerace.key %}
     	
     	{% if singlerace.completed == False %}
     	<tr>
     		<td colspan="2" style="vertical-align:middle;">
				<button type="button" class="btn btn-sm btn-info" style="cursor:text; font-size: larger;">
					<b>{{ horse.number }}</b>
				</button>
				{% if horse.disabled == True %}
       			<button type="button" class="btn btn-sm btn-outline-danger" style="cursor:text; font-size: larger;">[Koşmaz] <s>{{ horse.name }}</s></button>
       			{% endif %}
       			{% if horse.disabled == False %}
       				<span style="font-size: larger;" class="btn btn-sm btn-info"><b>{{ horse.name }}</b>
       			{% endif %}
       				<sup class="text-dark"><b>{{ horse.tool }}</b></sup>
       			{% if horse.stablemate != False %}
       				<img src="https://medya-cdn.tjk.org/imageftp/Img/e{{ horse.stablemate }}.gif" height="30"></span>
       			{% endif %}
     		</td>
     		
     		<td style="text-align:end; vertical-align:middle;">
				<span style="font-size: larger;"><b>{{ horse.jockey }}</b></span>
				{% if horse.apprantice == True %}
				<sup class="text-info"><b>AP</b></sup>
				{% endif %}
				<br>
				<span class="badge badge-pill badge-success jockeyrates" jockeycode="{{ horse.jockeycode }}" style="margin-right:1%; font-size:large; display:none;"></span>
				<span>{{ horse.lastsix }}</span>
			</td>
     	</tr>
     	
     	
     	
		<tr>
			<td style="border:0px; width:5%; vertical-align:middle;"> 
				<img src="{{ horse.jerseyimg }}" width="80" height="80" jerseybg="{{ horse.jerseybg }}" style="border-radius: 50%; border: 2px solid #17a2b8;"> 
			</td>
			
			<td style="border:0px; font-size:larger;">
				<span class="badge badge-pill">{{ horse.age }}</span>
				<span>{{ horse.weight }}kg</span>
      			{% if horse.weightex != 0 %}
      				<sup class="text-info"><b>+{{ horse.weightex }}</b></sup> 
      			{% endif %}
      			<br>
      			<span class="badge">HP:  </span><span>{{ horse.handycap }}</span>
      			<span class="badge">KGS: </span><span>{{ horse.kgs }}</span>
			</td>
			
			<td style="text-align:end; border:0px; font-size:larger;">
				<span class="badge">{% if horse.agf1 %} AGF1: </span><span class="text-info"><b>%{{ horse.agf1 }}</b> {% endif %}</span> <br>
				<span class="badge">{% if horse.agf2 %} AGF2: </span><span class="text-info"><b>%{{ horse.agf2 }}</b> {% endif %}</span>
			</td>
		</tr>
		
		<tr>
			<td colspan="2" style="border:0px; font-size:larger;" class="parent" horsecode="{{ horse.code }}">
				<span class="badge badge-pill">Baba: {{ horse.fathername }}</span> <br>
				<span class="badge badge-pill">Anne: {{ horse.mothername }}</span> <br>
				
			</td>
			<td style="text-align:end; border:0px;">
				<span>{{ horse.owner }}</span> <br>
       			<span class="badge">Ant: </span><span>{{ horse.trainer }}</span> 
			</td>
		</tr>
		
		
		
		<tr class="calculations" style="display:none;" horsecode="{{ horse.code }}" horsename="{{ horse.name }}" kgs="{{ horse.kgs }}">
			<td colspan="2" style="font-size:larger; border:0px;">
				<span class="badge">Yıllık Kazanç: <b class="text-info yearprize"></b></span> 
				<span class="badge">Sonraki Kayıt: <b class="text-info nextrecord"></b></span>
			</td>
			<td style="text-align:end; font-size:larger; border:0px;">
				<span class="badge" >Galop400m: <b class="text-info gallop"></b></span>
			</td>
		</tr>
		
		
		<tr class="finaldegree" horsecode="{{ horse.code }}" horsename="{{ horse.name }}" courtcode="{{ singlerace.courtcode }}" racecode="{{ horse.racecode }}" cityname="{{ weather.cityname }}" dateinfo="{{ singlerace.daterequest }}" temperature="{{ weather.temperature }}" humidity="{{ weather.humidity }}" grassrate="{{ weather.grassrate }}" dirtstate="{{ weather.sandstatus }}" distance="{{ singlerace.distance }}" weight="{{ horse.weight }}" handycap="{{ horse.handycap }}" kgs="{{ horse.kgs }}" last20="{{ horse.last20 }}" jockeycode="{{ horse.jockeycode }}" startno="{{ horse.startno }}">          
			<td colspan="2" style="text-align:left; border:0px;">
				<!-- <br>
				<span class="btn btn-outline-dark rivalanalysis" style="text-align:left; float:left; font-size:larger;">
    				<span class="fa-solid fa-flag-checkered fa-flip"></span><b> Rakip Analizi</b>
    			</span> -->
			</td>
			<td style="text-align:end; display:none; font-size:larger; border:0px;">
				<span class="badge badge-pill badge-info" style="font-size: xx-large; float:right;"><b class="degreeinfo"></b></span>
			</td>
		</tr>
		
		
		<tr class="loadingrow" style="display:none;">
			<td colspan="3" style="text-align:center; border:0px;">
				<span class="text-info">
					<i class="fa-solid fa-cog fa-spin"></i>
					<i class="fa-solid fa-cog fa-spin"></i>
					<i class="fa-solid fa-cog fa-spin"></i>
				</span>
			</td>
		</tr>
		
		
		
		
		
		 {% else %}  <!--  if race is finished -->
		 <tr>
     		<td colspan="2" style="vertical-align:middle;">
				<button type="button" class="btn btn-sm btn-success" style="cursor:text; font-size: larger;">
				{% if horse.result == 1000 %}
					<b class="text-success">-</b>
				{% else %}
					<b>{{ horse.result }}</b>
				{% endif %}
				</button>
				{% if horse.disabled == True %}
       			<button type="button" class="btn btn-sm btn-outline-danger" style="cursor:text; font-size: larger;">[Koşmaz] <s>{{ horse.name }}</s></button>
       			{% endif %}
       			{% if horse.disabled == False %}
       				<span style="font-size: larger;" class="btn btn-sm btn-success"><b>({{ horse.number }}) {{ horse.name }}</b>
       			{% endif %}
       				<sup class="text-dark"><b>{{ horse.tool }}</b></sup>
       			{% if horse.stablemate != False %}
       				<img src="https://medya-cdn.tjk.org/imageftp/Img/e{{ horse.stablemate }}.gif" height="30"></span>
       			{% endif %}
     		</td>
     		
     		<td style="text-align:end; vertical-align:middle;">
				<span style="font-size: larger;"><b>{{ horse.jockey }}</b></span>
				{% if horse.apprantice == True %}
				<sup class="text-info"><b>AP</b></sup>
				{% endif %}
				<br>
				<span class="badge badge-pill badge-success jockeyrates" jockeycode="{{ horse.jockeycode }}" style="margin-right:1%; font-size:large; display:none;"></span>
				<span>{{ horse.lastsix }}</span>
			</td>
     	</tr>
     	
     	
     	
		<tr>
			<td style="border:0px; width:5%; vertical-align:middle;"> 
				<img src="{{ horse.jerseyimg }}" width="80" height="80" jerseybg="{{ horse.jerseybg }}" style="border-radius: 50%; border: 2px solid #17a2b8;"> 
			</td>
			
			 <td style="border:0px; font-size:larger;">
			 
				<span class="badge badge-pill">{{ horse.age }}</span>
				<span>{{ horse.weight }}kg</span>
      			{% if horse.weightex != 0 %}
      				<sup class="text-info"><b>+{{ horse.weightex }}</b></sup> 
      			{% endif %}
      			<br>
      			<span class="badge">HP:  </span><span>{{ horse.handycap }}</span>
      			<span class="badge">KGS: </span><span>{{ horse.kgs }}</span>
			</td>
			
			
			<td style="text-align:end; border:0px; font-size:larger;">
				<span class="badge">{% if horse.agf1 %} AGF1: </span><span class="text-info"><b>%{{ horse.agf1 }}</b> {% endif %}</span> <br>
				<span class="badge">{% if horse.agf2 %} AGF2: </span><span class="text-info"><b>%{{ horse.agf2 }}</b> {% endif %}</span>
			</td> 
			
		</tr>
		
		<tr>
			<td colspan="2" style="border:0px; font-size:larger;" class="parent" horsecode="{{ horse.code }}">
				<span class="badge badge-pill">Baba: {{ horse.fathername }}</span> <br>
				<span class="badge badge-pill">Anne: {{ horse.mothername }}</span> <br>
				
			</td>
			<td style="text-align:end; border:0px;">
				<span>{{ horse.owner }}</span> <br>
       			<span class="badge">Ant: </span><span>{{ horse.trainer }}</span> 
			</td>
		</tr>
		
		<tr>
			<td colspan="3" style="text-align:center; font-size:xx-large; border:0px;">
				{% if horse.degree %}	<span class="badge">Derece: <b class="text-success">{{ horse.degree }}</b></span>	{% endif %}
				{% if horse.ganyan %}	<span class="badge">Ganyan: <b class="text-success">{{ horse.ganyan }}</b></span>	{% endif %}
				{% if horse.diff %}		<span class="badge">Fark: 	<b class="text-success">{{ horse.diff }}</b></span>		{% endif %}
			</td>	
		</tr>
		
		<!-- function suit rows don't remove!! -->
		<tr>	</tr>
		<tr>	</tr>
		{% endif %}  <!-- display info if race is not completed -->
		
		{% endif %}
      	{% endfor %}
		</tbody>
		<tfoot>
			<tr>
    			<td colspan="3" class="text-info" style="text-align:center;"><b>{{ singlerace.betinfo }}</b></td>
    		</tr>
		</tfoot>
		</table>
      
      </div>
    </div>
  	</div>
	</div>  <!-- end of accordion -->
	{% endfor %}


   </div> <!-- end of container -->
   <br><br><br>
      
   <!-- Modal -->
<div class="modal fade" id="statsModalCenter" tabindex="-1" role="dialog" aria-labelledby="statsModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header text-center bg-info" style="border-bottom-left-radius:40px; border-bottom-right-radius: 40px;">
        <h5 class="modal-title" id="statsModalLongTitle">İstatistikler</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="statsmodalbody" class="modal-body">
        
        <div class="form-group row">
        
        	<div class="col" style="margin-top:0.5%;">
				<table id="rivalstatsinfo" class="table table-bordered table-striped" style="font-size:small; display:none;">
				<thead class="bg-info text-black">
				<tr>
					<th style="text-align:center">Rakipleri</th>
					<th style="text-align:center">Geçtiği</th>
					<th style="text-align:center">Geçildiği</th>
					<th style="text-align:center">Toplam</th>
				</tr>
				</thead>
				<tbody>

				</tbody>
				</table>
			
    		</div>
        
        
            <div id="statsinfodiv" class="col">
            	<div id="loadingdiv" style="text-align: center;">
					<button class="btn btn-white text-info" type="button" disabled>
  					<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><b> Yükleniyor . . .</b></button>
            	</div>
			</div>
			
    		
    		<div id="siblinginfodiv" class="col">
			
    		</div>
  		</div>


        
      </div>
      <div class="modal-footer">
        <button id="statsclosebtn" type="button" class="btn btn-outline-info" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>   



	   <!-- Modal -->
<div class="modal fade" id="calculateModal" tabindex="-1" role="dialog" aria-labelledby="calculateModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 95%; height:100%" role="document">
    <div class="modal-content">
      <div class="modal-header text-center bg-info" style="border-bottom-left-radius:40px; border-bottom-right-radius: 40px;">
        <h1 class="modal-title text-center text-white" style="font-weight:bold;" id="calculateModalTitle">Etki Katsayısı Belirleme</h1>
        <button type="button" class="btn btn-lg close" style="font-size:xxx-large;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="calculatemodalbody" class="modal-body" style="height:100%; overflow:auto">
        
        <div class="row">
        	<div class="col-6">
        	<div class="card mb-3" style="max-width: 540px;">
  				<div class="row no-gutters">
    			<div class="col-md-4" style="padding-top:7%; padding-left:3%;">
      				<div id="slider1"></div>
    			</div>
    			
    			<div class="col-md-8" style="padding-left:15%;">
      				<div class="card-body">
        			<h1 class="card-title">Derece</h1>
        			<p class="card-text" style="font-size:larger;">.</p>
      			</div>
    			</div>
    			</div>
			</div>
    		</div>
        
            <div class="col-6">
        	<div class="card mb-3" style="max-width: 540px;">
  				<div class="row no-gutters">
    			<div class="col-md-4" style="padding-top:7%; padding-left:3%;">
      				<div id="slider2"></div>
    			</div>
    			
    			<div class="col-md-8" style="padding-left:15%;">
      				<div class="card-body">
        			<h1 class="card-title">Mesafe</h1>
        			<p class="card-text" style="font-size:larger;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      			</div>
    			</div>
    			</div>
			</div>
    		</div>
			
  		</div>
        
        <div class="row">
        	<div class="col-6">
        	<div class="card mb-3" style="max-width: 540px;">
  				<div class="row no-gutters">
    			<div class="col-md-4" style="padding-top:7%; padding-left:3%;">
      				<div id="slider3"></div>
    			</div>
    			
    			<div class="col-md-8" style="padding-left:15%;">
      				<div class="card-body">
        			<h1 class="card-title">Kilo</h1>
        			<p class="card-text" style="font-size:larger;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      			</div>
    			</div>
    			</div>
			</div>
    		</div>
        
            <div class="col-6">
        	<div class="card mb-3" style="max-width: 540px;">
  				<div class="row no-gutters">
    			<div class="col-md-4" style="padding-top:7%; padding-left:3%;">
      				<div id="slider4"></div>
    			</div>
    			
    			<div class="col-md-8" style="padding-left:15%;">
      				<div class="card-body">
        			<h1 class="card-title">Jokey</h1>
        			<p class="card-text" style="font-size:larger;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      			</div>
    			</div>
    			</div>
			</div>
    		</div>
			
  		</div>
  		
  		<div class="row">
        	<div class="col-6">
        	<div class="card mb-3" style="max-width: 540px;">
  				<div class="row no-gutters">
    			<div class="col-md-4" style="padding-top:7%; padding-left:3%;">
      				<div id="slider5"></div>
    			</div>
    			
    			<div class="col-md-8" style="padding-left:15%;">
      				<div class="card-body">
        			<h1 class="card-title">Handikap</h1>
        			<p class="card-text" style="font-size:larger;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      			</div>
    			</div>
    			</div>
			</div>
    		</div>
        
            <div class="col-6">
        	<div class="card mb-3" style="max-width: 540px;">
  				<div class="row no-gutters">
    			<div class="col-md-4" style="padding-top:7%; padding-left:3%;">
      				<div id="slider6"></div>
    			</div>
    			
    			<div class="col-md-8" style="padding-left:15%;">
      				<div class="card-body">
        			<h1 class="card-title">KGS</h1>
        			<p class="card-text" style="font-size:larger;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      			</div>
    			</div>
    			</div>
			</div>
    		</div>
			
  		</div>
  		
  		<div class="row">
        	<div class="col-6">
        	<div class="card mb-3" style="max-width: 540px;">
  				<div class="row no-gutters">
    			<div class="col-md-4" style="padding-top:7%; padding-left:3%;">
      				<div id="slider7"></div>
    			</div>
    			
    			<div class="col-md-8" style="padding-left:15%;">
      				<div class="card-body">
        			<h1 class="card-title">Kazanç</h1>
        			<p class="card-text" style="font-size:larger;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      			</div>
    			</div>
    			</div>
			</div>
    		</div>
        
            <div class="col-6">
        	<div class="card mb-3" style="max-width: 540px;">
  				<div class="row no-gutters">
    			<div class="col-md-4" style="padding-top:7%; padding-left:3%;">
      				<div id="slider8"></div>
    			</div>
    			
    			<div class="col-md-8" style="padding-left:15%;">
      				<div class="card-body">
        			<h1 class="card-title">Pist</h1>
        			<p class="card-text" style="font-size:larger;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      			</div>
    			</div>
    			</div>
			</div>
    		</div>
			
  		</div>
  		

      </div>
      <div class="modal-footer justify-content-between">
        	<button id="closecalculate" 	type="button" class="btn btn-info" style="font-size:xx-large;" data-dismiss="modal"><b>Sisteme Güven</b></button>
        	<button id="customcalculate" 	type="button" class="btn btn-info" style="font-size:xx-large;"><b>Hesapla</b></button>
      </div>
    </div>
  </div>
</div> 

  
  <input type="hidden" id="citynameinput" value="{{ cityname }}">
  <input type="hidden" id="allrules" value="{{ allrules }}">
  
  </div>
  
  </div> <!--  END OF CONTAINER -->
  
  </body> 

</html>
